footer#smart
    .container
        .row.foot-space
            .col-md-4.col-sm-12
                img(src='img/logo-dark.svg', width='100', alt='')
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Odio, consequatur facere molestiae iusto atque.
                .social
                    a(href='#')
                        i.ion-social-twitter
                    a(href='#')
                        i.ion-social-googleplus
                    a(href='#')
                        i.ion-social-instagram-outline
                    a(href='#')
                        i.ion-social-linkedin-outline
                    a(href='#')
                        i.ion-social-pinterest-outline
                    a(href='#')
                        i.ion-social-github
            .col-md-7.col-md-offset-1
                .row
                    .col-md-4.col-sm-4.col-xs-12.spacer
                        h5.foot-title Helpful Links
                        ul
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Company Details
                            li
                                a(href='#') How to get here
                            li
                                a(href='#') Opening Hours
                            li
                                a(href='#') Download Arisn
                    .col-md-4.col-sm-4.col-xs-12.spacer
                        h5.foot-title Company
                        ul
                            li
                                a(href='#') Legal
                            li
                                a(href='#') Cookie Policy
                            li
                                a(href='#') Terms & Conditions
                            li
                                a(href='#') Opportunities
                            li
                                a(href='#') VAT Information
                    .col-md-4.col-sm-4.col-xs-12.spacer
                        h5.foot-title Support
                        ul
                            li
                                a(href='#') Documentation
                            li
                                a(href='#') FAQ
                            li
                                a(href='#') How to Apply
                            li
                                a(href='#') Forums
                            li
                                a(href='#') Theme
            .col-xs-12
                hr
            .col-xs-12.xs-center
                p.footer-text
                    | Copyright © Arisn. All rights reservered
                    a(href='#') Terms and Conditions
                    a(href='#') Cookie Policy